version: '3.8'

services:
  bot:
    build: .
    container_name: my-telegram-bot
    restart: always
    ports:
      - "80:8080"
    env_file:
      - .env
    volumes:
      - ./IP-53.xlsx:/app/data/IP-53.xlsx